@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.btn{
    padding: 18px 35px;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 48px;
    cursor: pointer;
}
.btn-primary{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-secondary{
    background: #4EC5F7;
}
.title-bg{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Common Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    display: flex;
    gap: 13px;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50px;
}
.logo h1{
    font-weight: 700;
    font-size: 2rem;
}
.gmr-text{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    transition: .2s ease-in;
}
.follow{
    width: 180px;
}
nav ul li:hover{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.fa-youtube{
    color: #F61C0D;
    margin: 0 5px;
}
/* Banner Section */
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 150px;
    background: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: -80px 0px;
}
.banner-content h2{
    color: #0B0223;
    font-size: 2.2rem;
    text-transform: uppercase;
}
.banner-content h1{
    color: #0B0223;
    font-size: 3.5rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}
.banner-content ul{
 margin-bottom: 40px;   
}
.banner-content ul li{
    list-style-type: none;
    margin: 10px 0;
    text-align: left;
}
.fa-circle-play, .fa-download, .fa-user-group{
    color: #FF42A5;
}
.fa-circle-play{
    margin-right: 10px;
}
.fa-download{
    margin-right: 10px;
}
.fa-user-group{
    margin-right: 6px;
}
.btn-secondary{
    margin-left: 10px;
}
.banner-img img{
    width: 550px;
}
.funny-games-container{
    padding: 30px 150px;
}
.funny-games-container h1{
    text-align: center;
    font-size: 2rem;
}
.funny-games-container p{
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
}
.game-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.g-card{
    position: relative;
    width: 200px;
    height: 250px;
}
.g-card img{
    width: 100%;
    height: 100%;
}
.overlay{
    transition: .5s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 200px;
    height: 250px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: 2px solid #FF42A5;
}
.overlay p{
    color: #FF42A5;
}
.g-card:hover .overlay {
    opacity: 1;
  }
.g-card > p{
    font-size: 14px;
    margin-top: 10px;
    color: #534C64;
}
.instant-play-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 150px;
}
.instant-play-container2{
    padding-top: 50px;
}
.instant-play-content{
    text-align: right;
    width: 300px;
}
.instant-play-content2{
    text-align: left;
}
.instant-play-content h1{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.instant-play-content p{
    color: #534C64;
}
.instant-play-img{
    width: 400px;
    position: relative;
}
.instant-play-img img{
    width: 100%;
}
.instant-play-img2{
    width: 200px;
    position: absolute;
    left: -96px;
    bottom: -47px;
}
.instant-play-img2 img{
    width: 100%;
}
.games-genres-container{
    padding: 80px 150px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.genres-container-1, .genres-container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.genres-container-2{
    margin-top: 20px;
}
.genres{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 8px 10px;
    transition: .3s;
    border: 1px solid transparent;
    cursor: pointer;
}
.genres:hover{
    border: 1px solid #FF42A5;
    color: #F948B2;
}
.genres img{
    width: 35px;
    margin-right: 10px;
}
.genres h1{
    font-size: .9rem;
}
.hide{
    display: none;
}

.footer-contaier{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0B0223;
    padding: 80px 150px;
}
.footer-logo  h1{
    color: #fff;
}
.footer-contaier  ul{
    display: flex;
    margin-bottom: 30px;
}

.footer-contaier ul li{
    list-style-type: none;
    color: #fff;
    font-size: .9rem;
    margin: 0 30px;
    cursor: pointer;
}
.footer-contaier ul li a{
    text-decoration: none;
}
.footer-contaier  ul li i{
    font-size: 25px;
    color: #fff;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.footer-logo img{
    width: 30px;
    height: 20px;
    margin-right: 10px;
}
.footer-icons{
    margin-top: 20px;
}
.terms{
    margin-top: 30px;
}
.terms li{
    color: rgba(255, 255, 255, 0.60);
    font-size: .8rem;

}
.footer-contaier p{
    color:rgba(255, 255, 255, 0.60);
    font-size: .8rem;
}




/* Responsive Design */
/* For Mobile Devices */
@media screen and (max-width:576px){
    .banner-container,.funny-games-container,.instant-play-container,.games-genres-container{
        background: none;
        padding: 20px;
    }
    .btn{
        padding: 13px 25px;
    }
    .banner-content{
        background: url(images/Group\ 14.png);
        background-size: 482px 329px;
        background-position: -100px 26px;
        background-repeat: no-repeat;
        padding: 50px 30px;
    }
    nav, nav ul, .game-cards,.instant-play-container {
        flex-direction: column;
    }
    .banner-container,.instant-play-container2{
        flex-direction: column-reverse;
    }
    .game-cards{
        justify-content: center;
        align-items: center;
    }
    .g-card{
        margin-bottom: 100px;
    }
    nav ul li:first-child{
        margin-top: 10px;
    }
    .banner-img img{
        width: 100%;
    }
    .instant-play-img{
        width: 250px;
        margin-bottom: 50px;
    }
    .instant-play-img2{
        width: 100px;
        position: absolute;
        left: -50px;
        bottom: -47px;
    }
    .instant-play-content{
        text-align: center;
    }
    .instant-play-content p{
        margin-bottom: 20px;
        padding: 20px 0;
    }
    .games-genres-container{
        display: none;
    }
    .mobileview{
        display: block;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 50px 30px;
    }
    .genres img{
        width: 20px;
    }
    .genres h1{
        font-size: .7rem;
    }
    .footer-contaier ul{
        flex-wrap: wrap;
        text-align: center;
    }
    .footer-contaier ul{
        line-height: 30px;
        padding-left: 25px;
    }
    .footer-contaier{
        flex-direction: column;
        padding: 10px;
    }
}
@media screen and (max-width:424px){
    .footer-contaier ul{
        padding-left: 50px;
    }
}
/* For Tablets */
@media screen and (min-width:576px) and (max-width:992px){
    .banner-container,.funny-games-container,.instant-play-container,.games-genres-container{
        background: none;
        padding: 20px;
    }
    .btn{
        padding: 13px 25px;
    }
    .banner-content{
        background: url(images/Group\ 14.png);
        background-size: 482px 329px;
        background-position: -100px 26px;
        background-repeat: no-repeat;
        padding: 50px 30px;
    }
    nav, nav ul, .game-cards,.instant-play-container {
        flex-direction: column;
    }
    .banner-container,.instant-play-container2{
        flex-direction: column-reverse;
    }
    .game-cards{
        justify-content: center;
        align-items: center;
    }
    .g-card{
        margin-bottom: 100px;
    }
    nav ul li:first-child{
        margin-top: 10px;
    }
    .banner-img img{
        width: 100%;
    }
    .instant-play-img{
        width: 250px;
        margin-bottom: 50px;
    }
    .instant-play-img2{
        width: 100px;
        position: absolute;
        left: -50px;
        bottom: -47px;
    }
    .instant-play-content{
        text-align: center;
    }
    .instant-play-content p{
        margin-bottom: 20px;
        padding: 20px 0;
    }
    .deskview{
        display: none;
    }
    .mobileview{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer-contaier ul{
        flex-wrap: wrap;
        text-align: center;
    }
    .footer-contaier ul{
        line-height: 30px;
    }
    .footer-contaier{
        flex-direction: column;
        padding: 10px;
    }
}
